body {
    background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
    display: flex;
    justify-content: center;
}

.auth-form-container, .login-form, .register-form, .todo-form {
    
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    align-items: center;
    justify-content: center;

}


label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    border-radius: 5px;
    border: none;
}

button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

